In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [4]:
data = pd.read_csv("StudentCleaned.csv")

In [5]:
data.columns

Index(['gender', 'parental level of education', 'lunch',
       'test preparation course', 'race/ethnicity_group B',
       'race/ethnicity_group C', 'race/ethnicity_group D',
       'race/ethnicity_group E', 'avg_score'],
      dtype='object')

In [7]:
X = data.drop('avg_score', axis=1)

In [8]:
y = data['avg_score']

In [9]:
X.head()

,gender,parental level of education,lunch,test preparation course,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,1,4,0,0,True,False,False,False
1,1,3,0,1,False,True,False,False
2,1,5,0,0,True,False,False,False
3,0,2,1,0,False,False,False,False
4,0,3,0,0,False,True,False,False

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

In [11]:
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LinearRegression())
])